/* All css start */

.font {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

.hw > img {
  width: 100%;
  height: 100%;
}

.jumbotron {
  background-image: url("../assets/img/Shahrukh Khan10.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.blue {
  color: #fff;
  background-color: #33c6df;
  border-color: #09b5e7;
}

.lightblue {
  background-color: #33c6df;
}

.space {
  padding-top: 4rem;
}

#newsletter {
  padding-top: 0;
  margin-top: 50px;
  margin-bottom: -17px;
}

#camera {
  margin-right: 11px;
}

.checkwh {
  margin-left: -33px !important;
  width: 30px;
  height: 20px;
}

.width {
  width: 22%;
}

/* All css end */

/* media start */

@media only screen and (max-width: 600px) {
  .hw > img {
    width: 100% !important;
    height: 50% !important;
  }

  .fontsize {
    font-size: 3rem !important;
  }

  .paragraph {
    font-size: 20px !important;
  }

  .btn-lg {
    font-size: 15px !important;
  }

  .navbar {
    padding: 0 !important;
  }

  .space {
    padding-top: 0rem !important;
  }

  .text-center {
    text-align: center !important;
    padding: 10px !important;
  }

  .display-4 {
    font-size: 37px !important;
  }

  .cameopara {
    margin-top: 0 !important;
    text-align: center !important;
    margin-bottom: 1rem !important;
    font-size: 20px !important;
  }

  .cameoinaction {
    margin-bottom: -0.5rem !important;
    margin-top: 28px !important;
  }

  .displaynone {
    display: none;
  }

  .feture {
    text-align: center !important;
  }

  .fheading {
    text-align: center !important;
    margin-top: 28px !important;
  }

  .width {
    width: 30% !important;
  }

  .align {
    text-align: center !important;
  }
}

@media only screen and (max-width: 640px) {
  .displaynone {
    display: none !important;
  }

  .feture {
    text-align: center !important;
  }
}

@media only screen and (max-width: 668px) {
  .displaynone {
    font-size: 16px !important;
  }

  .feture {
    text-align: center !important;
  }
}

@media only screen and (max-width: 823px) {
  .displaynone {
    font-size: 18px !important;
  }

  .feture {
    text-align: center !important;
  }
}

/* media end */
